body {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    font-family: Georgia, Serif;
    
}

nav {
    background-color: #FF6600;
    opacity: 0.8;
    position:  fixed;
    width: 100%;
    height: 60px;
    
}

#logo {
    float: left;
    width: 20%;
    text-decoration: none;
}

#top-links {
    text-align: right;
    margin-right: auto;
    text-decoration: none;
}

article {
    background-color: #FFCC00;
    color: black;
}

footer {
    height: 300px;
    clear: both;
    background-color: #FF6600;
    text-decoration: none;
}

.web {
    float: right;
}