body {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    font-family: Georgia, Serif;
    
}

nav {
    background-color: #0d0d0d;
    opacity: 0.8;
    color: #FEAA79;
    position:  fixed;
    width: auto;
    height: 60px;
    
}

#logo {
    float: left;
    width: 20;
}

#top-links {
    margin-right: auto;
}

article {
    background-color: #FEAA79;
    color: black;
}

footer {
    clear: both;
    background-color: #0d0d0d;
    color: #FEAA79;
}

