body {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    font-family: Georgia, Serif;
    background-color: #FFCC00;
}

nav {
    background-color: #FF6600;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    height: 60px;
}

#logo {
    float: left;
    width: 20%;
    margin-left: 20px;
}

nav a:link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    background-color: #D93300;
    color: black;
    padding: 14px 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 3px #8B0000;
    text-align: center; 
    text-decoration: none;
}

#top-links {
    text-align: right;
    margin-right: auto;
    margin-top: -90px;
}

#link-container {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
}

.dropdown {
    position: relative;
    margin-top: -7px;
    margin-right: 20px;
    float: right;
    width: 5%;
}

.dropdown-toggle {
    background-color: #D93300;
    color: black;
    text-align: center; 
    border: none;
}

.dropdown-toggle:hover {
    background-color: #D93300;
    color: black;
    box-shadow: 5px 5px 3px #8B0000;
    text-align: center;
    border: none;
}

article {
    background-color: #FFCC00;
    text-align: center;
    margin-right: 20px;
    margin-left:20px;
    margin-top: 90px;
    padding: 10px;
}

.quotation {
    font-style: italic;
}

.thought {
    font-weight: bold
}

article a:link {
    text-decoration: none;
    color: #6600CC;
}

article a:hover {
    text-decoration: none;
    color: #6600CC;
    font-weight: bold; 
}

footer {
    height: 240px;
    clear: both;
    background-color: #FF6600;
    margin-bottom: 0px;
    width:100%;
    
}

footer a:link {
    text-decoration: none;
    color: black;
    font: bolder;
}

footer a:hover {
    background-color: #D93300;
    color: black;
    padding: 14px 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 3px #8B0000;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font: bolder;
}

.web {
    float: right;
    position: relative;
    margin-right: 40px;
}

.link {
    border-radius: 36px;
}

.inf {
    position: relative;
    top: 80px;
    left: 30px;
    width: 40%;
}

#carousel-example-generic {
    width: 100%;
    margin: auto;
}

.carousel-inner>.item>img {
    height: 500px;
    margin: 0 auto;
}
