body {
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
    font-family: Georgia, Serif;
    background-color: #FFCC00;
}

nav {
    background-color: #FF6600;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 60px;
}

#logo {
    float: left;
    width: 20%;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#top-links {
    text-align: right;
    margin-right: auto;
    margin-top: -100px;
}

#link-container {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
}

article {
    background-color: #FFCC00;
    text-align: center;
    margin-right: 20px;
    margin-left:20px;
    margin-top: 100px;
    width:100%;
}

.quotation {
    font-style: italic;
}

footer {
    height: 220px;
    clear: both;
    background-color: #FF6600;
    margin-bottom: 20px;
    width:100%;
}

footer a {
    text-decoration: none;
    color: black;
}

.web {
    float: right;
    position: relative;
    margin-right: 40px;
}

.link {
    border-radius: 36px;
}

#inf {
    position: relative;
    top: 80px;
    left: 30px;
    width: 40%;
}