body {
    min-width: 400px;
    max-width: 1920px;
    margin: 0 auto;
    font-family: Serif;
}

nav {
    background-color: #352D28;
    opacity: 0.5;
    
}

article {
    background-color: #FEAA79;
}

footer {
    clear: both;
    background-color: #352D28;
}